.claude/
/target
coverage/
preprocessed_configs/
/results
/access
/bench/results/
pgext/out/
pgext/log/

*.o
*.bc
*.so
*.gcda
*.gcno
*.gcov
*.diffs
architecture/*.png

regression.out
.env
/artifacts
.DS_Store
